<div>
    <h3>Connected accounts</h3>

    <div id="overview">
            <span ng-hide="!!accounts.length">
                You have currently no connected {{name}} accounts.
            </span>
        <table class="table"  ng-hide="!accounts.length">
          <thead>
             <tr>
               <th>Status</th><th>User</th><th>Settings</th><th>Remove</th>
             </tr>
          </thead>
          <tbody>
              <tr ng-repeat="acc in accounts">
                <td class="status error" ng-show="!!acc.critical"><i class="glyphicon glyphicon-warning-sign"></i> Error</td>
                <td class="status enabled" ng-show="!acc.critical && !!acc.enabled"><i class="glyphicon glyphicon-ok-sign"></i> Enabled</td>
                <td class="status disabled" ng-show="!acc.critical && !acc.enabled"><i class="glyphicon glyphicon-minus-sign"></i> Disabled</td>
                <td>{{ acc.profile.username || acc.profile.email }}</td>
                <td><a href="" ng-click="editAccount(acc.aid)"><i class="glyphicon glyphicon-cog"></i></a></td>
                <td><a href="" ng-click="removeAccount(acc.aid)"><i class="glyphicon glyphicon-trash"></i></a></td>
              </tr>
          </tbody>
        </table>

        <p style="padding-top:30px;">
            <button type="button" class="btn btn-default pull-right" ng-click="addAccount()"><i class="glyphicon glyphicon-plus"></i> Add</button>
        </p>

    </div>

</div>