
<div class="container">
    <div class="jumbotron">
        <h1>Connected accounts</h1>
        <div id="overview">
            <span ng-hide="!!accounts.length">
                You have currently no connected {{name}} accounts.
            </span>
            <div ng-hide="!accounts.length" ng-repeat="acc in accounts">
                {{acc.aid}}
                {{acc.enabled}}
                {{acc.critical}}
                {{acc.message}}
                <button type="button" class="btn btn-default" ng-click="editAccount(acc.aid)">Edit now!</button>
            </div>


            <p>
                <button type="button" class="btn btn-default" ng-click="addAccount()">Connect Now!</button>
            </p>
        </div>
    </div>
</div>
